/* Styling für das Menü-Icon */
.menu-icon {
    cursor: pointer;
    padding: 6px;
    background-color: #6a737b;
    /* Helle Hintergrundfarbe */
    color: #333;
    /* Dunklerer Text */
    position: fixed;
    top: 20px;
    /* Abstand vom oberen Rand */
    right: 20px;
    /* Abstand vom rechten Rand */
    border-radius: 5px;
    /* Abgerundete Ecken */
    z-index: 1;
}

/* Styling für das Dropdown-Menü */
.dropdown {
    display: none;
    position: fixed;
    background-color: #e3e3e3;
    /* Helle Hintergrundfarbe */
    top: 55px;
    /* Abstand vom oberen Rand, um das Menü-Icon nicht zu überdecken */
    right: 20px;
    /* Abstand vom rechten Rand */
    width: 300px;
    border-radius: 5px 0 5px 5px;
    /* Abgerundete Ecken */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Styling für Menüelemente im Dropdown */
.dropdown-item {
    padding: 12px 20px;
    color: #333;
    /* Dunklerer Text */
    text-decoration: none;
    display: block;
}

.dropdown-item:last-child {
    border-radius: 0 0 5px 5px;
}

/* Hervorhebung beim Hovern über Menüelemente */
.dropdown-item:hover {
    background-color: #eee;
    /* Hellere Hintergrundfarbe beim Hover */
}

.dropdown hr {
    border-top: 1px solid black;
}

.burgermenu-login {
    padding: 20px;
}

/* Passwort vergessen Link im burgermenu */
.burgermenu-login a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.burgermenu-login label {
    margin-bottom: 0;
}

.burgermenu-login .button-container {
    display: flex; /* Use flexbox to place buttons in a row */
    gap: 10px; /* Add space between the buttons */
}

.burgermenu-login .button-container input {
    flex: 1; /* Make both buttons take equal space */
    cursor: pointer;
}

p.warning {
    color: lightcoral;
}

.burgermenu-header {
    padding: 12px 20px;
}

.burgermenu-header .header-text {
    font-weight: bold;
    font-size: 18px;
}